.oneScoreCon{
    width: 80%;
    display: flex;
    align-self: center;
    margin-top: 10%;
    margin-bottom: 50vh;
    justify-content: space-between;
    align-items: center;
}

.leftOneScore{
    width: 40%;
}

.leftOneScore h1{
    font-size: 3.8vw;
    margin-bottom: 1%;
    font-weight: 300;
    font-family: "Playwrite AU NSW", cursive;
}

.leftOneScore h2{
    font-size: 8.2vw;
    font-family: "Playwrite AU NSW", cursive;
}

.oneScoreCon p{
    width: 50%;
    font-size: 1.5vw;
    font-weight: 100;
    text-align: left;
}

@media (max-width: 768px){
    .oneScoreCon{
        flex-direction: column;
        margin-bottom: 10vh;
    }

    .leftOneScore{
        width: 100%;
        margin-bottom: 10%;
    }

    .leftOneScore h1{
        font-size: 3rem;
    }

    .leftOneScore h2{
        width: 100%;
        font-size: 5.3rem;
    }

    .oneScoreCon p{
        width: 100%;
        font-size: 1.1rem;
    }
}