* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

body{
  margin: 0;
  background-color: rgb(0,31,43);
  font-family: 'montserrat', sans-serif;
  color: white;
  background-image: url('/background2.01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#root {
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}

a{
  transition: opacity 0.4s ease;
}

a:hover{
  opacity: 40%;
}